@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat:wght@300&display=swap');

#fixBody{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #EEEEEE;
    width: 100%;
    height: 100vh;
    background-image:url(https://www.i-igrushki.ru/upload/medialibrary/8c5/m709vm56ud0t2fdgkhf176l4r7qtpsuw.jpg);
    background-size:cover;
}
.filmImage{
    width: 100px;
    height: 120px;
    border-radius: 15%;
    border-color:aqua;
    border:1%;
    margin-bottom: 3%;
    margin-right:3%;
}
.filmBlock__overlay {
    position:absolute;
    border-radius: 100%;
}
.filmBlock1{
    height: 110px;
    width: 100px;
    float: left;
    margin-bottom: 3%;
    margin-right:3%;
    display: inline-block;
    border-radius: 100%;
}
.bl{
    margin-left: 5%;
    margin-right:5%;
}
* {
    box-sizing: border-box;
  }
  .na {
    float: left;
    width: 30%;
    background-color: #EEEEEE;
    padding: 20px;
    border: solid 2px #00ADB5;
    border-radius: 16px;
    opacity:90%;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    border-radius: 16px;
    padding: 0 2rem;
    background-color: #EEEEEE;
    opacity:90%;
    border: solid 2px #00ADB5;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
.filmVideo{
    margin-top: 20px;
}
.nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
  }
  
.articl {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
   
  }
.mainBar{
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #393E46;
    border-style: none none solid none;
    border-color: #00ADB5;
    position: fixed;
    opacity: 0.98;
    text-align: center;
}



.setOfFilms{
    background-color: #EEEEEE;
    border: 2px solid #00ADB5;
    margin: 100px 100px 50px 100px;
    height: 200px;
    text-align: center;
}

.filmBlock{
    width: 7.5rem;
    height: 10.625rem;
    border: 2px solid black;
    margin-top: 7%;
    border-radius: 3px;
    text-align: center;
}
.clear {
    clear: both; /* Отмена обтекания */
   }
nav ul {
    list-style-type: none;
    padding: 0;
  }
.secondarySection{
    background-color: #EEEEEE;
    border: solid 2px #00ADB5;
    padding: 0 2rem;
    opacity: 85%;
    padding:0 2rem;
    border-radius: 16px;
}

.mainFilmImg{
    width: 20%;
    height: 35%;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}

.epButton{
    margin-top: 1rem;
    text-align: center;
    color: #EEEEEE;
    background-color: #00ADB5;
    border: 2px solid #393E46;
    transition-duration: 0.4s;
    padding: 0.5rem 0.5rem;
    width: 15%;
}

.epButton:hover {
    background-color: #EEEEEE;
    color: #00ADB5;
}

a.linkToAd:link{
    color:unset;
    text-decoration: none;
}
a.linkToAd:hover{
    opacity: 0.5;
    text-decoration: none;
}
a.linkToAd:visited{
    color:unset;
    text-decoration: none;
}

.end{
    border-style: solid none none none;
    border-color: #00ADB5;
    margin-top: 20px;
    background-color: #393E46;
    height: 200px;
}
ul li{
    color: #EEEEEE;
    font-size: 1.1rem;
    padding-top: 10px;
}
.endLink{
    color: unset;
    text-decoration: none;
}
.endLink:visited{
    color: unset;
    text-decoration: none;
}
.endLink:hover{
    color: #00ADB5;
}
@media (max-width:1240px){
    .img6{
        display: none;
    }
}
@media(max-width:1090px){
    .img5{
        display: none;
    }
    .filmVideo{
        width: 650px;
        height: 315px;
    }
}
@media(max-width: 940px){
    .img4{
        display: none;
    }
    .filmVideo{
        width: 550px;
        height: 300px;
    }
}
@media(max-width: 790px){
    .img3{
        display: none;
    }
    .mainFilmImg{
        float: none;
        width: 100%;
        height: 50%;
        margin-bottom: 8%;
    }
    .filmVideo{
        width: 400px;
        height: 300px;
    }
}
@media(max-width: 640px){
    .setOfFilms{
        display: none;
    }
    .mainSection{
        margin-top:100px;
    }
    .mainFilmImg{
        float: none;
        width: 100%;
        height: 100%;
    }
    .mainSection{
        margin: 80px 30px;
    }
}
@media(max-width: 570px){
    .filmVideo{
        width: 330px;
        height: 250px;
    }
}
@media(max-width: 1100px){
    .Branch{
       display: none;
    }
    
}
@media(max-width: 1000px){
    .Queen{
       display: none;
    }
    
}
@media(max-width: 980px){
    .na{
       display: none;
    }
    
}
@media(max-width: 980px){
    .Protogonist{
       display: none;
    }
    
}

@media(max-width: 1070px){
    .slova{
       display: none;
    }
    .Storyline{
        display: none;
    }
    
}
@media(max-width:900px){
    .Troll{

        display: none;
    }
}
